@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  overflow: hidden;
  height: 92vh;
  display: flex;
}

.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
}

.options_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

#show_chat {
  display: none;
}

.main-chat-window {
  overflow-y: scroll;
}

.messages {
  display: flex;
  flex-direction: column;
}

.username {
  color: #2f80ec;
}

.message {
  padding: 0.3em 1em;
  color: white;
}

.main_message_container {
  padding-left: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main_message_container > input {
  height: 50px;
  width: 100%;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}

.room {
  font-size: 2em;
  background-color: #3a4961;
}

.header_back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

@media (max-width: 700px) {
  #show_chat {
    display: flex;
  }

  .right_window {
    display: none;
  }

  .left_window {
    display: flex;
  }
}
